<app-navbar></app-navbar>
<div id="about">
<section>
    <article>
      <h1>Root Module</h1>
      <img src="../../assets/ang.jpg" alt="">
      <p>Rootscope on Angularjs
          Root Scope. All applications have a $rootScope which is the scope created on the HTML element that contains the ng-app directive. The rootScope is available in the entire application. If a variable has the same name 
          in both the current scope and in the rootScope, the application uses the one in the current scope.</p>
    </article>

    <article style="border-left:1px solid">
        <h1>VCM</h1>
        <img src="../../assets/angularjs-mvc.png" alt="">
        <p>VCM on Angularjs
            Root Scope. All applications have a $rootScope which is the scope created on the HTML element that contains the ng-app directive. The rootScope is available in the entire application. If a variable has the same name 
            in both the current scope and in the rootScope, the application uses the one in the current scope.</p>
    </article>

    <article style="border-left:1px solid; border-right: 0px">
        <h1>VCM 2.0</h1>
        <img src="../../assets/AngularJS1-e1472736631378.jpg" alt="" style="margin-left:10px">
        <p>VCM 2.0 on Angularjs
            Root Scope. All applications have a $rootScope which is the scope created on the HTML element that contains the ng-app directive. The rootScope is available in the entire application. If a variable has the same name 
            in both the current scope and in the rootScope, the application uses the one in the current scope.</p>
    </article>
</section>
</div>
