<app-navbar></app-navbar>
<div id="portfolio">
<section>
  <h1>Our Portfolio</h1>
  
  <div id="wrap">
      <article>
        <img src="../../assets/1.jpg" alt="">
        <h2>Pets Care</h2>
        <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
      </article>

      <article>
          <img src="../../assets/2.jpg" alt="">
          <h2>Mr. Johny</h2>
          <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
      </article>

      <article>
          <img src="../../assets/3.jpg" alt="">
          <h2>Madio Rozik</h2>
          <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
      </article>


      <article>
          <img src="../../assets/4.jpg" alt="">
          <h2>Sherry</h2>
          <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
      </article>

      <article>
          <img src="../../assets/5.jpg" alt="">
          <h2>Xi Pae Shain</h2>
          <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
      </article>

        <article>
            <img src="../../assets/10.jpg" alt="">
            <h2>Joseph Khaliqa</h2>
            <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
        </article>

        <article>
            <img src="../../assets/7.jpg" alt="">
            <h2>David Rougt</h2>
            <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
        </article>

        <article>
            <img src="../../assets/8.jpg" alt="">
            <h2>Anelia Roph</h2>
            <p>Alina made a care center for pets projected developed by us with angular 5 as well other developing tool </p>
        </article>
  </div>

</section>
</div>